<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ .Directory }} - mauFileList</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maunium.net/css/footer.css">
  <link rel="stylesheet" href="https://maunium.net/css/text.css">
  <link rel="stylesheet" href="/archivepages/index.css">
</head>
<body>
  <div class="container">
    <br>
    <center>
      <h3>mauFileList</h3>
      <h1>{{ .Directory }}</h1>
    </center>
    <br><br>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            {{ range $index, $name := .FieldNames }}
              <th>{{ $name }}</th>
            {{ end }}
          </tr>
        </thead>
        <tbody>
          {{ range $key, $val := .Files }}
            <tr>
              {{ range $index, $data := $val }}
                <td>{{ $data }}</td>
              {{ end }}
            </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
